.next
node_modules
.env
.env.local
.env.*.local
.vercel
.DS_Store
*.log
.output
dist
coverage
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
